.all-products-summery {
    position: relative;
}
.all-products-summery .card{
    width: 20rem !important;
    margin-bottom: 10px !important;
}
.all-products-summery .card-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-products-summery .card-text h5{
    margin-bottom: 0px !important;
    font-weight: 400 !important;
    letter-spacing: .1rem !important;
    font-size: 1rem !important;
}
.all-products-summery .card-text p{
    margin-bottom: 0px !important;
    letter-spacing: .1rem !important;
    font-size: 1rem !important;
}
.all-products-summery .card-img-top-image{
    width: 100%;
    height: 300px !important;
}
.all-products-summery .card-img-top{
    width: 100%;
    height: 100% !important;
}
.all-products-summery .card-img-top img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.hover-box{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #2c3e50;
    opacity: 0;
    transition: 0.6s linear;
}

.all-products-summery .hover-box ul{
    padding-left: 0;
	position: absolute;
	top:50%;
	left:50%;
    width: 100%;
	transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.all-products-summery .hover-box ul li{
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50%;
   margin: 0 auto !important;
   background-color: #ab7a5f;
}

.all-products-summery .hover-box ul li{
  list-style: none;
  margin:0 5px;
}

.all-products-summery:hover .hover-box{
    opacity: .6;
}
.all-products-summery:hover .hover-box ul li{
    opacity: 1;
}

@media only screen and (min-width: 350px) and (max-width:840px) {
    .all-products-summery .card{
        width: 20rem !important;
        margin-bottom: 22px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 280px) and (max-width:350px) {
    .all-products-summery .card{
        width: 16rem !important;
        margin-bottom: 20px;
        margin: 0 auto;
    }
}