/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 0.2s ease;
    user-select: none;
    -moz-user-select: none;
}

a{
    text-decoration: none;
}
